
@import 'common';
@import '_mixin';
@import '_variable';
@import 'screen';



body{
    background: $mainColor;
}


.logo{

    width: calc_Rem(123);
    height: calc_Rem(32);

    $widthNum:calc_Rem(123,true);
    @include b_img($imgUrl,'logo.png');
    @include position_Center($widthNum);

    margin-top: calc_Rem(30);
   
}


.page1_tv{
   

    width:calc_Rem(605);
    height: calc_Rem(525);

    $widthNum : calc_Rem(508,true);
    @include b_img($imgUrl,'p1_tv.png');
    @include position_Center($widthNum);

    margin-top: calc_Rem(96);
    z-index: 11;
    

}

.page1_banner_wrap{
    width: calc_Rem(360);
    height: calc_Rem(287);
    position: absolute;
    margin-top: calc_Rem(160);
    margin-left: calc_Rem(150);

    .page1_banner1{
        width: calc_Rem(360);
        height: calc_Rem(287);
        @include b_img($imgUrl,'b1_banner1.png');
       
    }

}


.page1_bg{
    width: calc_Rem(172);
    height: calc_Rem(434);
    
    @include b_img($imgUrl,'p1_bg.png');

    position: absolute;
    margin-top: calc_Rem(513);
    margin-left: calc_Rem(289);
}


.page1_text_wrap{

    width: calc_Rem(508);
    height: calc_Rem(175);
    position: absolute;
    margin-top: calc_Rem(643);
    margin-left: calc_Rem(123);

    .page1_text1{

        width: calc_Rem(372);
        height: calc_Rem(108);

        $widthNum: calc_Rem(372,true);
        $heightNum: calc_Rem(108,true);
        @include position_Center($widthNum,$heightNum);

        @include b_img($imgUrl,'baidu_text1.png');
    }

}

.button{

    $widthNum:calc_Rem(513);

    width: $widthNum;
    height: calc_Rem(83);
    border: 1px solid $borderColor;


    
    @include browser(border-radius,$widthNum);

    position: absolute;
    top: calc_Rem(1041);
    left: calc_Rem(119);
    
    font-size: 16px;
    text-align: center;
    line-height: calc_Rem(83)
}










